.navbar {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px;
    .navbar--wrapper {
        @include wrapper;
        justify-content: space-between;
        .navbar__logo {
            .navbar__logo--link {
                color: $accent-color;
                font: 56px 'netflix-font';
            }
        }
        .navbar__nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            .navbar__nav--ul {
                display: flex;
                flex-direction: row;
                .navbar__nav--li {
                    font: $text-normal;
                    padding: 12px 16px;
                }
                .navbar__nav--li a:hover {
                    color: $accent-color;
                }
            }
        }
    }
}