.movie-grid {
  padding: 101px 2dvw 0px 2dvw;
  width: 100%;
  .movie-grid--title {
    padding: 24px 24px 24px 0px;
    font: $text-big;
    color: $almost-white;
  }
  .movie-grid--wrapper {
    display: grid;
    gap: 1vw;

    grid-template-columns: repeat(6, 1fr);
    
    @media screen and (max-width: 1420px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
